* {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    box-sizing: border-box;
}
body {
    background-color: #F1F7ED;
}
.container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 1rem; 
}
.head {
    font-size: 2.3rem;
    padding: 1rem;
    word-spacing: 10px;
}
.random {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 1rem;

}
.random-number {
    margin: 1rem 2rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    max-height: 6rem;
    max-width: 6rem;
    font-size: 3.2rem;
    font-weight: 600;
}
.random-text {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 2rem;
    word-spacing: 8px;
}