* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1400px;
}
body {
    background-color: #F1F7ED;
}
.container-blur {  
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgba(57, 34, 171, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
}
.blur-box { 
    position: absolute;
    margin: 15% 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #F1F7ED;
    box-shadow: 4px 4px 8px black;
    z-index: 10;
}
.blur-box h1 {
    font-size: 1.6rem;
    border-bottom: 3px dotted black;
    padding: 0.2rem;
    margin-bottom: 1rem;
}
.blur-box ol {
    margin: 1rem 0.5rem;
}
.blur-box ol li {
    font-size: 1.1rem;
    padding-bottom: 0.4rem;
}
.btn-start {
    margin: 2rem;
}
/* .hidden {
    display: none;
} */
.container-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 1rem; 
    
}
.head {
    font-size: 2.3rem;
    padding: 1rem;
    word-spacing: 10px;
}
.random {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 1rem;
    width: 50%;

}
.random-number {
    text-align: center;
    margin: 1rem 2rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    height: 6rem;
    width: 7rem;
    font-size: 3.2rem;
    font-weight: 600;
}
.random-text {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 2rem;
    word-spacing: 8px;
}
.prediction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.prediction-number {
    text-align: center;
    margin: 1rem auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.2rem;
    height: 6rem;
    width: 7rem;
    font-size: 3.2rem;
    font-weight: 600;
}
.btn {
    margin: 1rem;
    padding: 0.3rem 0.6rem;
    font-size: 1.4rem;
    border-radius: 8px;
    box-shadow: 3px 3px 7px grey ;
}
.btn:hover {
    cursor:pointer;
     -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       transform: scale(1.1);
      transition: 1s ease;
    background-color: aliceblue;
}
.score {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 1rem;
    width: 70%;
}
.highscore {
    margin: 1rem 2rem 1rem 1rem;
    font-size: 1.3rem;
}
.life {
    font-size: 1.3rem;
    margin: 1rem 1rem 1rem 2rem;
}
.nmb-blue {
    color: rgba(26, 17, 152, 0.888);
    font-size: 1.4rem;
}
.nmb-red {
    color: rgba(255, 0, 0, 0.721);
    font-size: 1.4rem;
}