* {
    margin: 0 auto;
    padding: 0;   
}
.background {
    height: 100%;
    width: 100%;    
}
/* ----------------landing page-------------*/
.welcome {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    height: 100vh;
    width: 100vw;  
    background-image: url(/assets/images/background.jpg);
}
.blur-box { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #F1F7ED;
    box-shadow: 4px 4px 8px black;
}
.blur-box h1 {
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 3px dotted black;
    padding: 0.2rem;
    margin-bottom: 1rem;
}
.blur-box ol {
    margin: 1rem 0.5rem;
}
.blur-box ol li {
    font-size: 1.1rem;
    padding-bottom: 0.4rem;
}
.user-label {
    background-color: rgb(52, 94, 209);
    color: #F1F7ED;
    border-radius: 10px;
    min-height: 2rem;
    margin: 0.5rem;
    font-size: 1.3rem;
    max-width: 12rem;
}
.user-label:hover {
    border-color: rgb(250, 247, 60);   
}
/* -------------- second page--game---------------*/
.game {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: visible;
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
}
.hidden {
    display: none;
  }
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
.head {
    font-size: 1.4rem;
    padding-top: 1rem;
}
.random {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}
.random-number {
    align-items: center;
    text-align: center;
    margin: 1rem 2rem;
    border: 2px solid black;
    border-radius: 40%;
    padding:0.5rem;
    height: 3rem;
    width: 3rem;
    font-size: 2.8rem;
    font-weight: 800;
}
.random-text {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 2rem;   
}
.prediction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.predictions {
    text-align: center;
    margin: 1rem auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.2rem;
    height: 4rem;
    width: 5rem;
    font-size: 3rem;
    font-weight: 600;
}
.btn {
    margin: 0.5rem;
    padding: 0.3rem 0.6rem;
    font-size: 1.4rem;
    border-radius: 8px;
    box-shadow: 3px 3px 7px grey ;
}
.btn:hover {
    cursor:pointer;
    -add-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: rotateY(360deg) scale(1.1);
    transition: all 1.5s ease;
    background-color: aliceblue;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.score {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    width: 70%;
}
.highscore {
    margin: 1rem 2rem 1rem 1rem;
    font-size: 1.3rem;
}
.life {
    font-size: 1.3rem;
    margin: 1rem 1rem 1rem 2rem;
}
.user-name {
    font-weight: bold;
}
.nmbB {
    color: rgba(26, 17, 152, 0.888);
    font-size: 1.4rem;
    font-weight: bold;
}
.nmbR {
    color: rgba(255, 0, 0, 0.721);
    font-size: 1.4rem;
    font-weight: bold;
}

/*media querry*/

/*800px*/
@media screen and (max-width:800px) {
    .blur-box {
        max-width: 70%;
    }
    .head {
        font-size: 1.3rem;
        text-align: center;
    }
}
/*500px*/
@media screen and (max-width:500px) {
    .blur-box {
        max-width: 80%;
    }
    .head {
        font-size: 1.2rem;
    }
    .random-text {
        font-size: 1.6rem;
    }
}